<div class="row">
    <div class="col-sm-12">
        <h1 id="titre" style="text-align:center; margin-bottom:50px;">
            {{'createAccount.title' | translate}}
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p style="text-align:center; margin-bottom:50px;">
            (*) {{'createAccount.requiredFields' | translate}}
        </p>
    </div>
</div>

<div class="row" style="text-align:center;">
    <div class="offset-sm-3 col-sm-6 offset-lg-4 col-lg-4">
        <hr />
        <form [formGroup]="profil">
            <div class="form-group">
                <div>
                    <label class="section">{{'createAccount.email' | translate}}*</label>
                    <input id="mail" [class.is-invalid]="profil.get('email').invalid && profil.get('email').touched" class="form-control" type="email" formControlName="email" placeholder="{{'createAccount.emailPlaceholder' | translate}}" required>

                    <div *ngIf="(verifEmail.invalid && verifEmail.touched) || verifEmail.dirty">
                        <small *ngIf="verifEmail.errors?.required" class="text-danger">{{'createAccount.requiredEmail' | translate}}</small>
                        <small *ngIf="verifEmail.errors?.pattern" class="text-danger">{{'createAccount.validPassword' | translate}}</small>
                    </div>
                </div>
            </div>

            <br />
            <div class="form-group">
                <label class="section">{{'createAccount.password' | translate}}*</label>
                <input id="password" minlength="6" [class.is-invalid]="profil.get('pass').invalid && profil.get('pass').touched" class="form-control" type="password" formControlName="pass" placeholder="{{'createAccount.passwordPlaceholder' | translate}}" required>

                <div *ngIf="(verifPassword.invalid && verifPassword.touched) || verifPassword.dirty">
                    <small *ngIf="verifPassword.errors?.required" class="text-danger">{{'createAccount.requiredPassword' | translate}}</small>
                    <small *ngIf="verifPassword.errors?.minlength" class="text-danger">{{'createAccount.validPassword' | translate}}</small>
                </div>
            </div>

            <br />
            <div class="form-group">
                <label class="section">{{'createAccount.passwordConfirmation' | translate}}*</label>
                <input id="confirmPassword" [class.is-invalid]="profil.get('confirmPass').invalid && profil.get('confirmPass').touched" formControlName="confirmPass" class="form-control" type="password" placeholder="{{'createAccount.passwordConfirmationPlaceholder' | translate}}" required>

                <div *ngIf="(verifConfirmPassword.invalid && verifConfirmPassword.touched) || verifConfirmPassword.dirty">
                    <small *ngIf="verifConfirmPassword.errors?.required" class="text-danger">{{'createAccount.pleaseConfirmPassword' | translate}}</small>
                    <small *ngIf="verifPasswordMatch() == false" class="text-danger">{{'createAccount.passwordsNotMatch' | translate}}</small>
                </div>
            </div>

            <br />

            <div class="form-group">
                <label class="section">{{'createAccount.lastName' | translate}}*</label>
                <input id="lastName" [class.is-invalid]="profil.get('lastName').invalid && profil.get('lastName').touched" class="form-control" type="text" placeholder="{{'createAccount.lastNamePlaceholder' | translate}}" formControlName="lastName" required>

                <div *ngIf="(verifLastName.invalid && verifLastName.touched) || verifLastName.dirty">
                    <small *ngIf="verifLastName.errors?.required" class="text-danger">{{'createAccount.requiredLastName' | translate}}</small>
                </div>
            </div>

            <br />
            <div class="form-group">
                <label class="section">{{'createAccount.firstName' | translate}}*</label>
                <input id="firstName" [class.is-invalid]="profil.get('firstName').invalid && profil.get('firstName').touched" class="form-control" type="text" placeholder="{{'createAccount.firstNamePlaceholder' | translate}}" formControlName="firstName" required>

                <div *ngIf="(verifFirstName.invalid && verifFirstName.touched) || verifFirstName.dirty">
                    <small *ngIf="verifFirstName.errors?.required" class="text-danger">{{'createAccount.requiredFirstName' | translate}}</small>
                </div>
            </div>

            <div class="form-group">
                <label class="section">{{'createAccount.birthDate' | translate}}*</label>
                <input id="birthDate" [class.is-invalid]="profil.get('birthDate').invalid && profil.get('birthDate').touched" class="form-control" type="date" formControlName="birthDate" required>

                <div *ngIf="(verifBirthDate.invalid && verifBirthDate.touched) || verifBirthDate.dirty">
                    <small *ngIf="verifBirthDate.errors?.required" class="text-danger">{{'createAccount.requiredBirthDate' | translate}}</small>
                    <small *ngIf="verifValidBirthDate() == false" class="text-danger">{{'createAccount.validBirthDate' | translate}}</small>

                </div>
            </div>

            <br />
            <div class="form-group">

                <label class="section">{{'createAccount.post' | translate}}</label>
                <input id="job" class="form-control" type="text" placeholder="{{'createAccount.postPlaceholder' | translate}}" formControlName="job" required>
            </div>

            <br />

            <div class="form-group">
                <label class="section">{{'createAccount.describeYourself' | translate}}</label>
                <textarea [class.is-invalid]="profil.get('description').invalid && profil.get('description').touched" rows="3" class="input form-control" placeholder="{{'createAccount.describeYourselfPlaceholder' | translate}}" formControlName="description" required></textarea>

            </div>

            <br />
            <div class="form-group">
                <label class="section" #avatar>{{'createAccount.chooseAvatar' | translate}}</label>

                <br />
                <span *ngIf="!submitted; else elseBlock">
                    <label for="defaultImg">
                        <img class="participantIcon" src="{{defaultImagePath}}" height="120" alt="" (load)="getDefaultImage()"/>
                    </label>
                </span>
                <ng-template #elseBlock>
                    <img class="participantIcon" src="data:image/png;base64,{{image}}" height="120" />
                </ng-template>
                <input type="file" class="form-control-file" id="avatar" accept="image/png, image/jpeg" formControlName="avatar" (change)="displayImage($event)" />
                <small class="form-text text-muted">
                    {{'createAccount.requiredFormat' | translate}}
                </small>
            </div>
        </form>


        <br />
        <br />


        <br />

        <div>
            <button class="btn btn-outline-success" style="margin-left:10px;" (click)="checkMail()">
                {{'createAccount.createYourAccount' | translate}}
            </button>
            <span [hidden]="!errorCreate">
                <p class="alert alert-danger" role="alert">
                    {{'createAccount.fillAllFields' | translate}}
                </p>
            </span>
            <span [hidden]="!error">
                <p class="alert alert-danger" role="alert">
                    {{'createAccount.emailAlreadyUsed' | translate}}
                </p>
            </span>

        </div>


        <br />
        <br />
        <br />
        <br />
    </div>
</div>