.retour {
    font-weight: 700;
    font-size: 18px;
    color: #430640;
    cursor: pointer;
}






.logs {
    height: 58%;
    overflow: auto;
    /*margin-top: 10px;*/
}

.color-border {
    border-color: #430640;
}

.nav-link:hover {
    border-color: #430640;
}

.badge-primary {
    background-color: #E958C1 !important
}

.badge-secondary {
    background-color: #B549A9 !important
}

.badge-success {
    background-color: #6921f8 !important
}

.badge-danger {
    background-color: #b54eff !important
}

#titre {
    color: #430640;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: 800;
    font-size: 38px;
}

.logs::-webkit-scrollbar {
  width: 6px;
}

.logs::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(56, 56, 56, 0.363);
}

.log {
  height: auto;
  /*margin-left: 15px;
  padding-top: 20px;*/
}

.title {
    color: #430640;
    font-weight: 700;
    font-size: 20px;
}


.hour {
  color: gray;
  font-weight: 200;
  font-size: 11px;
  /*padding-top:5px;
  padding-right: 20px;
  vertical-align:top;*/
}

.opinion {
  font-weight: 400;
  font-size: 16px;
  /*vertical-align: top;*/
}