<h1 id="titre">
    Historique de l'élection
</h1>

<p style="text-align:center">
    Vous pouvez ici consulter les avis des autres participants <br /> et les étapes clés du processus de l'élection en cours.
</p>

<div>
    <img src="assets/img/close.png" height="20" align="right" style="margin-right:75px; cursor: pointer;" (click)="browserReturn()" />
</div>

<ul class="nav nav-tabs color-border" style=" margin-left: 75px; margin-right: 75px;">
</ul>

<div class="logs" style="margin-left: 75px; margin-right: 75px;">
    <div class="log" *ngFor="let log of logList">
        <div class="title">
            <span [ngSwitch]="log.type" style="font-size:16px;">
                <span *ngSwitchCase="1" id="VoteBadge">
                    <span class="badge badge-pill badge-primary">Vote</span>
                </span>
                <span *ngSwitchCase="2" id="ReportBadge">
                    <span class="badge badge-pill badge-secondary">Report</span>
                </span>
                <span *ngSwitchCase="3" id="ObjectionBadge">
                    <span class="badge badge-pill badge-danger">Objection</span>
                </span>
                <span *ngSwitchCase="4" id="BonificationBadge">
                    <span class="badge badge-pill badge-warning">Bonification</span>
                </span>
                <span *ngSwitchCase="5" id="NotificationBadge">
                    <span class="badge badge-pill badge-success">Notification</span>
                </span>

            </span>
            {{log.title}}
        </div>
        <table>
            <tr>
                <th class="hour">
                    {{log.hour}}
                </th>
                <th class="opinion">
                    {{log.opinion}}
                </th>
            </tr>
        </table>
    </div>
</div>
