.container-fluid {
    max-width: 1500px !important;
}

.carousel-caption {
  
    top: 85% !important;
    transform: translateY(-50%);
   
    bottom: initial;
}

#text {
    font-size: 18px;
    text-align: justify;
    color: black;
}

#titre {
  color: #430640;
  font-weight: 800;
  font-size: 38px;
}

#subTitle {
    color: #430640;    
}

h5 {
  color: dimgray;
}

.slideDesc {
  color: gray;
}

/*.Carousel {
  width: 40%;
  position: absolute;
  right: 75px;
  margin-top: 100px;
}*/

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(1);
}

/*#btnAnimation {
  background-image: url(../../assets/img/dropDown.png);
  background-color: white !important;
  background-position: center center;
  background-size: 35px;
  width: 35px;
  height: 35px;
}*/

/*#link {
  color: white !important;
}*/

/*.apparait {
  display: none;
}

.lien {
  color: white;
}*/

/*footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #430640;
}*/
