.container-fluid {
    max-width: 1500px !important;
}

.carousel-caption {
  
    top: 85% !important;
    transform: translateY(-50%);
   
    bottom: initial;
}

#text {
    font-size: 18px;
    text-align: justify;
    color: black;
}

#titre {
  color: #430640;
  font-weight: 800;
  font-size: 38px;
}

#subTitle {
    color: #430640;    
}

h5 {
  color: dimgray;
}

.slideDesc {
  color: gray;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(1);
}
