<h2 id="titre">Phase de vote</h2>

<div class="row justify-content-center" id="date">
    <div class="center-block align-self-center" *ngIf="election.hostId == connectedAccount.userId; then ThenBlock1"></div>
    <ng-template #ThenBlock1>
        <button class="btn btn-primary" (click)="goToNextPhase()">Terminer la phase</button>
    </ng-template>
    <div class="progress offset-3 col-4 center-block align-self-center">
        <div class="progress-bar ml-0" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="col-3 center-block align-self-center">
        Date de fin de scrutin {{election.startDate |  date:'shortDate' : locale:'fr-FR'}}
    </div>
</div>

<br />

<div class="participants">
    <div class="scroll">
        <div class="participant" *ngFor="let user of listeUsers">
            <div (click)="actualParticipant(user, user.birthDate)"> 
                <div (click)="changeColor(user.userId)" class="my-2">
                    <img class="participantIcon" id="userId{{user.userId}}" src="data:image/png;base64,{{user.avatar}}" height="80" />
                    <div class="participantName" (ngInit)="Init()">
                        {{user.firstName}} {{user.lastName}}

                        <div *ngIf="HasUserTalked(user); then ThenBlock else ElseBlock"></div>
                        <ng-template #ElseBlock>
                            <span class="badge badge-pill badge-danger" style="font-size: 7px;"> &nbsp; </span>
                        </ng-template>
                        <ng-template #ThenBlock>
                            <span class="badge badge-pill badge-success" style="font-size: 7px;"> &nbsp; </span>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="description" id="selectParticipant">
    <label id="participantName" class="d-flex justify-content-center"><b>{{currentUser.lastName}} {{currentUser.firstName}}</b></label>

    <div *ngIf="election.hostId == connectedAccount.userId && election.hostId != currentUser.userId; then ThenBlock2 else ElseBlock2"></div>
    <ng-template #ElseBlock2>
        <button id="exclude" type="submit" class="btn btn-primary" hidden>Exclure</button>
    </ng-template>
    <ng-template #ThenBlock2>
        <button id="exclude" type="submit" class="btn btn-primary" (click)="Exclude(currentUser.userId)">Exclure</button>
    </ng-template>

    <label id="participantJob" class="d-flex justify-content-start"> Poste : {{currentUser.job}}</label>
    <label id="participantAge" class="d-flex justify-content-start">Age : {{age}}</label>

    <label id="participantDescription" class="d-flex justify-content-start">  Mini Biographie : {{currentUser.description}}</label>

    <div *ngIf="HasUserTalked(connectedAccount); then ThenBlock3 else ElseBlock3"></div>
    <ng-template #ElseBlock3>
        <textarea class="form-control d-flex justify-content-center" id="argumentaires" placeholder="Argumentez votre vote..." rows="3"></textarea> <br />
        <div class="col text-center">
            <button type="submit" class="btn btn-primary" (click)="Vote()">Voter pour {{currentUser.firstName}} {{currentUser.lastName}} ?</button>
        </div>
    </ng-template>
    <ng-template #ThenBlock3>

    </ng-template>
</div>