<div [ngSwitch]="electionPhase">

    <div *ngSwitchCase="'1'">
        <app-election-vote></app-election-vote>
    </div>

    <div *ngSwitchCase="'2'">
        <app-revote></app-revote>
    </div>

    <div *ngSwitchCase="'3'">
        <app-objections></app-objections>
    </div>

    <div *ngSwitchCase="'4'">
        <app-bonification></app-bonification>
    </div>

    <div *ngSwitchCase="'5'">
        <app-celebration></app-celebration>
    </div>

    <div *ngSwitchDefault>
        
    </div>

</div>