<div class="container-fluid">

    <div class="row my-3 justify-content-center">
        <div class="col-11 px-0 text-center">
            <div class="card px-0" id="card">
                <ul id="progressbar">
                    <li class="active title" id="votes">Votes</li>
                    <li id="repportVotes">Repport de Votes</li>
                    <li id="objections">Objections</li>
                    <li id="bonification">Bonification</li>
                    <li id="celebration">Célébration</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="center-block align-self-left" *ngIf="election.hostId == connectedAccount.userId; then ThenBlock1"></div>
        <ng-template #ThenBlock1>
            <button class="btn send" (click)="goToNextPhase()">Terminer la phase</button>
        </ng-template>
    </div>

    <div class="row my-5 mx-5">
        <div class="col-md-5 mb-5 mb-md-0">
            <div id="participants" class="card">
                <div class="card-header sous-titre">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            Liste des participants                            
                        </div>
                    </div> 
                </div>
                <div class="card-body scroll">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="participants mx-1" *ngFor="let user of listeUsers">
                                <div (click)="actualParticipant(user, user.birthDate)">
                                    <div (click)="changeColor(user.userId)" class="my-2">
                                        <div class="row text-center">
                                            <div class="col-md-12">
                                                <img class="participantIcon" id="userId{{user.userId}}" src="data:image/png;base64,{{user.avatar}}" height="80" />
                                            </div>
                                        </div>

                                        <div class="row text-center">
                                            <div class="col-md-12">
                                                <div class="participantName" (ngInit)="Init()">
                                                    {{user.firstName}} {{user.lastName}}

                                                    <div *ngIf="HasUserTalked(user); then ThenBlock else ElseBlock;"></div>
                                                    <ng-template #ElseBlock>
                                                        <span class="badge badge-pill badge-danger" style="font-size: 7px;"> &nbsp; </span>
                                                    </ng-template>
                                                    <ng-template #ThenBlock>
                                                        <span class="badge badge-pill badge-success" style="font-size: 7px;"> &nbsp; </span>
                                                    </ng-template>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>               
            </div>            
        </div>
        <div class="offset-md-2 col-md-5 description" id="selectParticipant">
            <div id="participants" class="card">
                <div class="card-header sous-titre">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {{currentUser.lastName}} {{currentUser.firstName}}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-2 text-center">
                            <div *ngIf="election['hostId'] == connectedAccount.userId && election.hostId != currentUser['userId']; then ThenBlock2 else ElseBlock2"></div>
                            <ng-template #ElseBlock2>
                                <button type="submit" class="btn send" hidden>Exclure</button>
                            </ng-template>
                            <ng-template #ThenBlock2>
                                <button class="btn send" type="submit" (click)="Exclude(currentUser.userId)">Exclure</button>
                            </ng-template>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label class="poste">
                                Poste :
                            </label>
                            {{currentUser.job}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label class="poste">
                                Age :
                            </label>
                            {{age}} ans
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <label class="poste">
                                Mini Biographie :
                            </label>
                            {{currentUser.description}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div *ngIf="currentParticipant['hasTalked']; then ThenBlock3 else ElseBlock3"></div>
                            <ng-template #ElseBlock3>
                                <textarea class="form-control d-flex justify-content-center" id="argumentaires" placeholder="Argumentez votre vote..." rows="3"></textarea> <br />
                                <div class="col text-center">
                                    <button type="submit" id="voteBtn" class="btn mb-3 send" (click)="Vote()">Voter pour ce candidat</button>
                                </div>
                            </ng-template>
                            <ng-template #ThenBlock3>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
