<div class="container">
    <h2 id="titre" class="text-center my-5">{{'createElection.title' | translate}}</h2>

    <form [formGroup]="formulaireElection">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>{{'createElection.post' | translate}}</label>
                <input type="text" class="input form-control" name="poste" formControlName="poste" placeholder="{{'createElection.postPlaceholder' | translate}}">
            </div>
            <div class="form-group col-md-6">
                <label>{{'createElection.mission' | translate}}</label>
                <input type="text" class="input form-control" name="missions" formControlName="missions" placeholder="{{'createElection.missionPlaceholder' | translate}}" />
            </div>
        </div>
        <div class="form-group">
            <label>{{'createElection.responsibilities' | translate}}</label>
            <input type="text" class="input form-control" name="responsabilités" formControlName="responsabilites" placeholder="{{'createElection.responsabilitiesPlaceholder' | translate}}" />
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>{{'createElection.startDate' | translate}}</label>
                <input class="input_date form-control" type="date" name="dateD" formControlName="dateD" />
            </div>
            <div class="form-group col-md-6">
                <label>{{'createElection.endDate' | translate}}</label>
                <input class="input_date form-control" type="date" name="dateF" formControlName="dateF">
            </div>
        </div>

        <label id="erreur">{{erreur}}</label>

        <div class="d-flex justify-content-center">
            <button id="send" (click)="submit()" class="btn mb-5">{{'createElection.createYourElection' | translate}}</button>
        </div>
    </form>
</div>