#titre {
    color: #430640;
    font-weight: 800;
    font-size: 38px;
}

form{
    font-size: 18px;
}

.input, .input_date {
    border: 2px #430640 solid;
    background-color: #F5F5F5;
}

#send {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 90px;
    background-color: #430640;
}

#erreur {
  color: red;
  font-weight: bold;
  margin-left:25%;
  margin-top:25px;
}

