<h2 id="titre" class="d-flex justify-content-center">
  Mes salons
</h2>

<ul class="nav nav-tabs color-border " style="margin-left:75px; margin-right:75px;">

  <li class="nav-item" id="ongletMesSalons">
    <a class="nav-link" style="cursor: pointer;" (click)="MesSalons()">
      Elections en cours
    </a>
  </li>

  <li class="nav-item" id="ongletSalonsCrees">
    <a class="nav-link" style="cursor: pointer;" (click)="SalonsCrees()">
      Elections crées
    </a>
  </li>

  <li class="nav-item" id="ongletSalonsTermines">
    <a class="nav-link" style="cursor: pointer;" (click)="SalonsTermines()">
      Elections terminées
    </a>
  </li>

  <li class="nav-item ml-auto align-text-bottom" id="ongletAjouterSalon">
    <div class="nav-link dropdown-toggle align-text-bottom" data-toggle="dropdown" (click)="ajouterSalon()" style="cursor: pointer; background-color: #fee2d7;">Rejoindre un salon</div>
      <div class="dropdown-menu dropdown-menu-right align-text-bottom color-border ">
        <form>
          <div class="form-group mr-3 ml-4">
            <label for="codeInput">Lien d'invitation ou code</label>
            <input #codeInput id="codeInput" type="text" class="form-control color-border">
          </div>
          <div class="btn-group">
            <button (click)="rajouterSalon(codeInput.value)" type="submit" class="btn color-btn ml-4"> Rejoindre </button>
          </div>
        </form>
      </div>
  </li>
</ul>

<div class="sessions" style="margin-left:75px; margin-right:75px;" >
  <div class="session" *ngFor="let session of listeSessions">
    <div class="poste " (click)="Navigate((session.electionId))" style="cursor: pointer;">
      {{session.job}}
    </div>
    <hr class="separator">
    <div style="margin-left:10px; margin-right:10px;">
        <div class="dateD">
            Début du mandat le : {{ session.startDate | date:'shortDate':'':'fr-FR' }}
        </div>
      <div class="phase">
        Phase de vote
      </div>
      <div class="participants">
        xx participants
      </div>
    </div>
  </div>
</div>
