<h2 id="titre" class="d-flex justify-content-center">
  Mes salons
</h2>

<ul class="nav nav-tabs" style="margin-left:75px; margin-right:75px;">

  <li class="nav-item" id="ongletMesSalons">
    <a class="nav-link" style="cursor: pointer;" (click)="MesSalons()">
      Elections en cours
    </a>
  </li>

  <li class="nav-item" id="ongletSalonsCrees">
    <a class="nav-link" style="cursor: pointer;" (click)="SalonsCrees()">
      Elections crées
    </a>
  </li>

  <li class="nav-item" id="ongletSalonsTermines">
    <a class="nav-link" style="cursor: pointer;" (click)="SalonsTermines()">
      Elections terminées
    </a>
  </li>

  <li class="nav-item ml-auto align-text-bottom" id="ongletAjouterSalon">
    <div class="nav-link dropdown-toggle align-text-bottom" data-toggle="dropdown" (click)="AjouterSalon()" style="cursor: pointer;">Rejoindre un salon</div>
      <div class="dropdown-menu dropdown-menu-right align-text-bottom">
        <form>
          <div class="form-group mr-3 ml-4">
            <label for="codeInput">Lien d'invitation ou code</label>
            <input type="text" class="form-control" id="codeInput">
          </div>
          <div class="btn-group">
            <button (click)="RejoindreSalon()" type="submit" class="btn btn-primary ml-4"> Rejoindre </button>
          </div>
        </form>
      </div>
  </li>
</ul>

<div class="sessions" style="margin-left:75px; margin-right:75px;">
  <div class="session" *ngFor="let session of listeSessions">
    <div class="poste">
      {{session.job}}
    </div>
    <hr class="separator">
    <div style="margin-left:10px; margin-right:10px;">
      <div class="dateD">
        Début du mandat le : {{session.startDate}}
      </div>
      <div class="phase">
        Phase de vote
      </div>
      <div class="participants">
        xx participants
      </div>
    </div>
  </div>
</div>
