<div class="container-fluid">
    <div class="row text-center">
        <div class="col">
            <h2 id="titre" class="d-flex justify-content-center">Voulez-vous joindre l'élection suivante ?</h2>
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="col-md-4 pb-5">
            <p id="name">{{connectedAccount.lastName | titlecase }} {{connectedAccount.firstName | titlecase}}</p>
            <img class="img-fluid" id="{{connectedAccount.userId}}" src="data:image/png;base64,{{connectedAccount.avatar}}" />
        </div>

        <div class="col-md-8 ">
            <div class="row text-center  mb-md-1  mb-5">
                <div class="col-md-4 text-md-right">
                    <label>Poste de l'élu</label>
                </div>
                <div class="offset-md-1 col-md-7 text-md-left">
                    <p> {{election.job}}</p>
                </div>
            </div>

            <div class="row text-center  mb-md-1  mb-5">
                <div class="col-md-4 text-md-right">
                    <label>Ses missions</label>
                </div>
                <div class="offset-md-1 col-md-7 text-md-left">
                    <p>{{election.mission}}</p>
                </div>
            </div>

            <div class="row text-center  mb-md-1  mb-5">
                <div class="col-md-4 text-md-right">
                    <label>Ses responsabilités</label>
                </div>
                <div class="offset-md-1 col-md-7 text-md-left">
                    <p>{{election.responsability}}</p>
                </div>
            </div>

            <div class="row text-center  mb-md-1  mb-5">
                <div class="col-md-4 text-md-right">
                    <label>Date de début de mandat</label>
                </div>
                <div class="offset-md-1 col-md-7 text-md-left">
                    <p> {{election.startDate |  date:'shortDate' : locale:'fr-FR'}}</p>
                </div>
            </div>

            <div class="row text-center  mb-md-1  mb-5">
                <div class="col-md-4 text-md-right">
                    <label> Date de fin de mandat</label>
                </div>
                <div class="offset-md-1 col-md-7 text-md-left">
                    <p> {{election.endDate |  date:'shortDate' : locale:'fr-FR'}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center my-5">
        <div class="col">
            <button id="send" (click)="submit()">Rejoindre</button>
        </div>
    </div>
</div>