
<div class="container-fluid">

    <div *ngIf="alreadyJoined; then thenBlock else elseBlock"></div>

    <ng-template #thenBlock>
        <div class="row text-center">
            <div class="col">
                <h2 id="titre" class="d-flex justify-content-center mt-5">{{'joinElectionLink.alreadyParticipating' | translate}}</h2>
            </div>
        </div>
    </ng-template>

    <ng-template #elseBlock>
        <div class="row text-center">
            <div class="col">
                <h2 id="titre" class="d-flex justify-content-center mt-5">{{'joinElectionLink.wantJoin' | translate}}</h2>
            </div>
        </div>
    </ng-template>


    <div class="row text-center mt-5">
        <div class="col-md-4 pb-5">
            <p id="name">{{connectedAccount.lastName | titlecase }} {{connectedAccount.firstName | titlecase}}</p>
            <img class="img-fluid" id="{{connectedAccount.userId}}" src="data:image/png;base64,{{connectedAccount.avatar}}" />
        </div>

        <div class="col-md-8 ">
            <div class="row text-center  mb-md-1  mb-5">
                <div class="col-md-4 text-md-right">
                    <label>{{'createElection.post' | translate}}</label>
                </div>
                <div class="offset-md-1 col-md-7 text-md-left">
                    <p> {{election.job}}</p>
                </div>
            </div>

            <div class="row text-center  mb-md-1  mb-5">
                <div class="col-md-4 text-md-right">
                    <label>{{'createElection.mission' | translate}}</label>
                </div>
                <div class="offset-md-1 col-md-7 text-md-left">
                    <p>{{election.mission}}</p>
                </div>
            </div>

            <div class="row text-center  mb-md-1  mb-5">
                <div class="col-md-4 text-md-right">
                    <label>{{'createElection.responsibilities' | translate}}</label>
                </div>
                <div class="offset-md-1 col-md-7 text-md-left">
                    <p>{{election.responsability}}</p>
                </div>
            </div>

            <div class="row text-center  mb-md-1  mb-5">
                <div class="col-md-4 text-md-right">
                    <label>{{'createElection.startDate' | translate}}</label>
                </div>
                <div class="offset-md-1 col-md-7 text-md-left">
                    <p> {{election.startDate |  date:'shortDate'}}</p>
                </div>
            </div>

            <div class="row text-center  mb-md-1  mb-5">
                <div class="col-md-4 text-md-right">
                    <label>{{'createElection.endDate' | translate}}</label>
                </div>
                <div class="offset-md-1 col-md-7 text-md-left">
                    <p> {{election.endDate |  date:'shortDate'}}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="alreadyJoined; then cantJoin else canJoin"></div>
    <ng-template #canJoin>
        <div class="row text-center my-5">
            <div class="col">
                <button id="send" (click)="submit()">{{'joinElectionLink.rejoin' | translate}}</button>
            </div>
        </div>
    </ng-template>
    <ng-template #cantJoin>
        <div class="row text-center my-5">
            <div class="col">
                {{'joinElectionLink.alreadyJoined' | translate}}
            </div>
        </div>
    </ng-template>
</div> 