.container-fluid {
    font-size: 18px;
    max-width: 1300px;
}

.img-fluid {
    max-width: 50% !important;
}

.test{
    width : 350px;
}

#titre {
    color: #430640;
    font-weight: 800;
    font-size: 38px;
}

/*#titre {
    margin-top: 25px;
    margin-bottom: 60px;
    color: #430640;
}*/

#send {
    color: white;
    border: 2px #430640 solid;
    padding: 10px 30px 10px 30px;
    background-color: #430640;
}

label, #name {
    color: #430640;
    font-weight: 800;
    font-size: 20px;
}