.container {
    font-size: 18px;
    /* max-width: 900px !important;*/
}

#titre {
    color: #430640;
    font-weight: 800;
    font-size: 38px;
}

label {
    color: #430640;
    font-weight: 800;
    font-size: 20px;
}

#valider, #ajouter, #send, #codeBtn, #passBtn {
    /*color: #430640;
    border: 2px #430640 solid;*/
    padding: 10px 30px 10px 30px;
    background-color: #430640;
    color: white;
}

form {
    max-width: 50em;
    margin: 4em auto;
    position: relative;
    background: #f4f4f4;
    padding: 2em 3em;
    overflow: hidden;
}
#label_code {
    font-size:2em;
}

#validBar{
    height:1em;
}

    form .data {
        margin-top: 1em;
    }

        form .data li {
            background: #fff;
            border-left: 4px solid #430640;
            padding: 1em;
            margin: 1em auto;
            color: #666;
        }

            form .data li i {
                float: right;
                color: #888;
                cursor: pointer;
            }

    form .input-group-text {
        background: #430640;
        border-radius: 50%;
        width: 5em;
        height: 5em;
        padding: 1em 23px;
        color: #fff;
        position: absolute;
        right: 13px;
        top: 33%;
        cursor: pointer;
    }

        

    form .form-control {
        height: 3em;
    }

        form .form-control:focus {
            box-shadow: 0;
        }


/*label {
  width: 180px;
  text-align: end;
}


.zone{
    margin-left:20%;
    margin-top:40px;
}

#valider {
    color: #430640;
    border: 2px #430640 solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 90px;
    background-color: #fee2d7;
}

#rappel{
    margin-top:70px;
}

#page_rappel {
  margin-top: 25px;
  }

label {
  font-weight: bold;
}
#code {
    border: 2px #430640 solid;
    width: 525px;
    text-align: center;
}
*/
