<div class="container">
    <form #mailForm="ngForm">
        <div class="form-group" id="zoneBlocks">
            <div class="col-md-30 text-md-center">
                <label id="label_code">{{'forgottenPassword.title' | translate}}</label>
                <p><small>{{'forgottenPassword.explanation' | translate}}</small></p>
            </div>
            <div class="input-group-prepend">
                <input id="mailInput" type="text" #dest class="form-control" placeholder="{{'createAccount.emailPlaceholder' | translate}}" name="dest" ngModel>
                <button id="ajouter" type="button" class="btn mb-5" (click)="checkAndSend(dest)">{{'forgottenPassword.reset' | translate}}</button>
            </div>

            <div [hidden]="!codeSent">
                <div class="col-md-30 text-md-center">
                    <label id="label_code2">{{'forgottenPassword.codeReceived' | translate}}</label>
                </div>

                <div class="input-group-prepend">
                    <input id="codeInput" type="text" #code class="form-control" placeholder="{{'forgottenPassword.codePlaceholder' | translate}}" name="code" ngModel>
                    <button id="codeBtn" type="button" class="btn mb-5" (click)="checkCode(code)">{{'electionReminder.validate' | translate}}</button>
                </div>
            </div>

            <div [hidden]="!codeOk">
                <div class="col-md-30 text-md-center">
                    <label id="label_code2">{{'forgottenPassword.newPassword' | translate}}</label>
                </div>

                <div class="input-group-prepend">
                    <input id="passInput" type="password" #pass class="form-control" placeholder="{{'createAccount.passwordPlaceholder' | translate}}" name="pass" ngModel>
                    <button id="passBtn" type="button" class="btn mb-5" (click)="changePass(pass)">{{'electionReminder.validate' | translate}}</button>
                </div>

                <hr id="validBar"/>
            </div>
        </div>

    </form>

</div>