<div class="container">
    <form #mailForm="ngForm">
        <div class="form-group" id="zoneBlocks">
            <div class="col-md-30 text-md-center">
                <label id="label_code">Réinitialisation du mot de passe</label>
                <p><small>Saisissez l'adresse email que vous avez utilisée pour créer votre compte. Si l'adresse email correspond à un compte, un email vous sera transmis avec un lien de réinitialisation de votre mot de passe. </small></p>
            </div>
            <div class="input-group-prepend">
                <input id="mailInput" type="text" #dest class="form-control" placeholder="Entrez votre email" name="dest" ngModel>
                <button id="ajouter" type="button" class="btn mb-5" (click)="checkAndSend(dest)">Réinitialiser</button>
            </div>

            <div [hidden]="!codeSent">
                <div class="col-md-30 text-md-center">
                    <label id="label_code2">Code reçu</label>
                </div>

                <div class="input-group-prepend">
                    <input id="codeInput" type="text" #code class="form-control" placeholder="Code" name="code" ngModel>
                    <button id="codeBtn" type="button" class="btn mb-5" (click)="checkCode(code)">Valider</button>
                </div>
            </div>

            <div [hidden]="!codeOk">
                <div class="col-md-30 text-md-center">
                    <label id="label_code2">Nouveau mot de passe</label>
                </div>

                <div class="input-group-prepend">
                    <input id="passInput" type="password" #pass class="form-control" placeholder="Mot de passe" name="pass" ngModel>
                    <button id="passBtn" type="button" class="btn mb-5" (click)="changePass(pass)">Valider</button>
                </div>

                <hr id="validBar"/>
            </div>
        </div>

    </form>

</div>