<div class="container-fluid">
    <div class="row my-3 justify-content-center">
        <div class="col-11 px-0 text-center">
            <div class="card px-0" id="card">
                <ul id="progressbar">
                    <li class="active" id="votes">Votes</li>
                    <li class="active" id="repportVotes">Report de Votes</li>
                    <li class="active" id="objections">Objections</li>
                    <li class="active title" id="bonification">Bonification</li>
                    <li id="celebration">Célébration</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row mb-5 justify-content-center">
            <div class="offset-md-1 col-sm-5">
                <div class="card text-center">
                    <div class="card-header sous-titre">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                Détails de l'élection :
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <label class="poste">
                                    poste :
                                </label>
                                {{election.job}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <label class="poste">
                                    mission :
                                </label>
                                {{election.mission}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <label class="poste">
                                    responsabilité :
                                </label>
                                {{election.responsability}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-sm-1 col-sm-5">
                <div *ngIf="isElectedNotNull; then canChoose else cantChoose"></div>
                <ng-template #canChoose>
                    <div class="row mt-5 mt-md-0 justify-content-center">
                        <div class="col-md-12 text-center">
                            <label class="intro">
                                La personne élue est :
                            </label>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="profile-userpic">
                                <img class="img-responsive" src="data:image/png;base64,{{actualElected['avatar']}}" height="120" />
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="profile-usertitle-name">
                                {{actualElected['firstName']}} {{actualElected['lastName']}}
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template #cantChoose>
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <p class="intro">
                                Aucun participant n'a été élu !
                            </p>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-md-10">
                <div *ngIf="isElectedNotNull; then canChoose1"></div>
                <ng-template #canChoose1>
                    <div *ngIf="connectedAccount.userId == actualElected['userId']; then show else dontShow"></div>
                    <ng-template #show>
                        <div class="row justify-content-center">
                            <div class="col-md-12 text-center">
                                <label class="intro">
                                    Acceptez-vous votre nouveau rôle ?
                                </label>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-12 text-center">
                                <textarea class="form-control d-flex justify-content-center" id="argumentaires" placeholder="Si vous refusez, merci de nous expliquer pourquoi..." rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row my-3 justify-content-center">
                            <div class="col-md-6 col-6 text-left">
                                <button type="submit" class="btn btn-success mr-5" (click)="goToNextPhase()">Accepter</button>
                            </div>
                            <div class="col-md-6 col-6 text-right">
                                <button type="submit" class="btn btn-danger ml-5" (click)="refus()">Refuser</button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #dontShow>
                        <div class="row justify-content-center">
                            <div class="col-md-12 text-center">
                                <p class="intro">
                                    Nous attendons la réponse finale de {{actualElected['firstName']}}, pour le poste de {{election.job}}
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
    </div>
</div>






<!--<div class="container text-center">
    <div class="row">
        <div class="col-sm-5">
            <p class="intro">
                Détails de l'élection : <br /><br />
                poste : {{election.job}} <br />
                mission : {{election.mission}} <br />
                responsabilité : {{election.responsability}}
            </p>
        </div>

        <div class="col-sm-5">
            <div *ngIf="isElectedNotNull; then canChoose else cantChoose"></div>
            <ng-template #canChoose>
                <p class="intro">
                    La personne élue est :
                </p>
                <div class="profile-userpic">
                    <img class="img-responsive" id="proposedIcon" src="data:image/png;base64,{{actualElected['avatar']}}" height="120" />
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{actualElected['firstName']}} {{actualElected['lastName']}}
                    </div>


                    <div *ngIf="connectedAccount.userId == actualElected['userId']; then show else dontShow"></div>
                    <ng-template #show>
                        <p class="intro mt-5">
                            Acceptez vous votre nouveau rôle ?
                        </p>
                        <textarea class="form-control d-flex justify-content-center" [(ngModel)]="textEntered" id="argumentaires" placeholder="Si vous refusez le poste, merci de nous expliquer pourquoi..." rows="4" ></textarea> <br />
                        <div class="col text-center">
                            <button type="submit" class="btn btn-success mr-5" (click)="goToNextPhase()">Accepter</button>
                            <button type="submit" class="btn btn-danger ml-5" [disabled]="!textEntered" (click)="refus()">Refuser</button>
                            <br />
                            <br />
                        </div>
                    </ng-template>
                    <ng-template #dontShow>
                        <div class="col text-center">
                            <p class="intro">
                                Nous attendons la réponse finale de {{actualElected['firstName']}}, pour le poste de {{election.job}}
                            </p>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
            <ng-template #cantChoose>
                <div class="col text-center">
                    Aucun participant n'a été élu !
                </div>
            </ng-template>
        </div>
    </div>
</div>-->