<h2 id="titre" style="text-indent: 5px;">
    <label style="font-size: 24px; font-weight: 400; color:gray;">
        Votes /
    </label>
    <label style="font-size: 24px; font-weight: 400; color:gray;">
        Report de votes /
    </label>
    <label style="font-size: 24px; font-weight: 400; color:gray;">
        Objections /
    </label>
    <label>
        Bonification
    </label>
    <label style="font-size: 24px; font-weight: 400; color:gray;">
        / Célébration
    </label>
</h2>

<div class="container text-center">
    <div class="row">
        <div class="col-sm-5">
            <p class="intro">
                Détails de l'élection : <br /><br />
                poste : {{election.poste}} <br />
                mission : {{election.missions}} <br />
                responsabilité : {{election.responsabilite}}
            </p>
        </div>

        <div class="col-sm-5">
            <div *ngIf="isElectedNotNull; then canChoose else cantChoose"></div>
            <ng-template #canChoose>
                <p class="intro">
                    La personne élue est :
                </p>
                <div class="profile-userpic">
                    <img class="img-responsive" id="proposedIcon" src="data:image/png;base64,{{actualElected['avatar']}}" height="120" />
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{actualElected['firstName']}} {{actualElected['lastName']}}
                    </div>


                    <div *ngIf="connectedAccount.userId == actualElected['userId']; then show else dontShow"></div>
                    <ng-template #show>
                        <p class="intro mt-5">
                            Acceptez vous votre nouveau rôle ?
                        </p>
                        <textarea class="form-control d-flex justify-content-center" [(ngModel)]="textEntered" id="argumentaires" placeholder="Si vous refusez le poste, merci de nous expliquer pourquoi..." rows="4" ></textarea> <br />
                        <div class="col text-center">
                            <button type="submit" class="btn btn-success mr-5" (click)="goToNextPhase()">Accepter</button>
                            <button type="submit" class="btn btn-danger ml-5" [disabled]="!textEntered" (click)="refus()">Refuser</button>
                            <br />
                            <br />
                        </div>
                    </ng-template>
                    <ng-template #dontShow>
                        <div class="col text-center">
                            <p class="intro">
                                Nous attendons la réponse finale de {{actualElected['firstName']}}, pour le poste de {{election.job}}
                            </p>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
            <ng-template #cantChoose>
                <div class="col text-center">
                    Aucun participant n'a été élu !
                </div>
            </ng-template>
        </div>
    </div>
</div>