<div class="container">
    <h2 id="titre" class="text-center my-5">
        {{'myElections.title' | translate}}
    </h2>
   <div class="row" id="navBlock">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md justify-content-center">
                <ul class="navbar-nav color-border">
                    <li class="nav-item bouton" id="ongletMesElections">
                        <a id="btn" class="nav-link" style="cursor: pointer;" (click)="MesElections()">
                            {{'myElections.electionsInProgress' | translate}}
                        </a>
                    </li>
                    <li class="nav-item bouton" id="ongletElectionsTermines">
                        <a id="btn" class="nav-link" style="cursor: pointer;" (click)="ElectionsTermines()">
                            {{'myElections.electionsCompleted' | translate}}
                        </a>
                    </li>
                </ul>
                <div class="navbar-collapse justify-content-md-end justify-content-center">
                    <ul class="navbar-nav justify-content-md-end text-center">
                        <li class="nav-item align-text-bottom mb-1 bouton" id="ongletAjouterElections">
                            <div class="nav-link dropdown-toggle align-text-bottom" data-toggle="dropdown" style="cursor: pointer; background-color: #fee2d7;">{{'myElections.joinElection' | translate}}</div>
                            <div class="dropdown-menu dropdown-menu-right align-text-bottom color-border " style="min-width: 250px;" aria-labelledby="navbarDropdownMenuLink">
                                <form>
                                    <div class="form-group mr-3 ml-4">
                                        <label for="codeInput">{{'myElections.invitationLinkOrCode' | translate}}</label>
                                        <input #codeInput id="codeInput" type="text" class="form-control color-border">
                                    </div>
                                    <div class="btn-group">
                                        <button (click)="rajouterElections(codeInput.value)" type="submit" class="btn color-btn ml-4">{{'joinElectionLink.rejoin' | translate}}</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
   </div>
    
   <div class="elections">
       <div class="container">
           <div class="row">
               <div class="col-md-6 my-5" *ngFor="let election of listeElections" (click)="Navigate((election.electionId))" style="cursor: pointer;">
                   <div class="center-block align-self-center" *ngIf="election['electionPhaseId'] == '5'; then ThenBlock else ElseBlock"></div>
                   <ng-template #ThenBlock>
                       <div class="card text-center">
                           <div class="card-header sous-titre">
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       
                                       {{election.job}}
                                       <div *ngIf="election.hostId == connectedAccount.userId; then ThenBlock"></div>
                                       <ng-template #ThenBlock>
                                           <span class="badge badge-pill badge-primary">{{'myElections.host' | translate}}</span>
                                       </ng-template>
                                   </div>
                               </div>

                           </div>
                           <div class="card-body">
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.mission' | translate}}
                                       </label>
                                       {{election.mission}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.responsibilities' | translate}}
                                       </label>
                                       {{election.responsability}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.electionCode' | translate}}
                                       </label>
                                       {{election.codeElection}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.invitationLink' | translate}}
                                       </label>
                                       <a href="http://51.158.77.237/join-election-link/{{election.codeElection}}"> http://51.158.77.237/join-election-link/{{election.codeElection}}</a>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.startDate' | translate}}
                                       </label>
                                       {{election.startDate |  date:'shortDate' : locale:'fr-FR'}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.endDate' | translate}}
                                       </label>
                                       {{election.endDate |  date:'shortDate' : locale:'fr-FR'}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <qrcode class="col-md-30 text-md-center" id="qrCode" [qrdata]="getLink(election)" [colorDark]="'#430640'" [width]="128" [errorCorrectionLevel]="'M'"></qrcode>
                                   </div>
                               </div>
                           </div>
                           <div class="card-footer text-muted">
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.electedPerson' | translate}}
                                       </label>
                                       <label id="election{{election.electionId}}" class="poste" style="cursor: pointer;"></label>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </ng-template>
                   <ng-template #ElseBlock>
                      
                       <div class="card text-center">
                           <div class="card-header sous-titre">
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       {{election.job}}
                                       <div *ngIf="election.hostId == connectedAccount.userId; then ThenBlock"></div>
                                       <ng-template #ThenBlock>
                                           <span class="badge badge-pill badge-primary">{{'myElections.host' | translate}}</span>
                                       </ng-template>
                                   </div>
                               </div>

                           </div>
                           <div class="card-body">
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.mission' | translate}}
                                       </label>
                                       {{election.mission}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.responsibilities' | translate}}
                                       </label>
                                       {{election.responsability}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.electionCode' | translate}}
                                       </label>
                                       {{election.codeElection}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.invitationLink' | translate}}
                                       </label>
                                       <a href="http://51.158.77.237/join-election-link/{{election.codeElection}}"> http://51.158.77.237/join-election-link/{{election.codeElection}}</a>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.startDate' | translate}}
                                       </label>
                                       {{election.startDate |  date:'shortDate' : locale:'fr-FR'}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           {{'myElections.endDate' | translate}}
                                       </label>
                                       {{election.endDate |  date:'shortDate' : locale:'fr-FR'}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       
                                       <qrcode class="col-md-30 text-md-center" id="qrCode" [qrdata]="getLink(election)" [colorDark]="'#430640'" [width]="128" [errorCorrectionLevel]="'M'"></qrcode>
                                   </div>
                               </div>
                           </div>
                           <div class="card-footer text-muted">
                               <div class="row">
                                   <div class="col-md-6 text-md-left poste">
                                       <div class="phase" [ngSwitch]="election['electionPhaseId']">
                                           <div *ngSwitchCase=1>
                                               {{'myElections.votingPhase' | translate}}
                                           </div>

                                           <div *ngSwitchCase=2>
                                               {{'myElections.votingDeferralPhase' | translate}}
                                           </div>

                                           <div *ngSwitchCase=3>
                                               {{'myElections.objectionsPhase' | translate}}
                                           </div>

                                           <div *ngSwitchCase=4>
                                               {{'myElections.improvementPhase' | translate}}
                                           </div>

                                           <div *ngSwitchCase=5>
                                               {{'myElections.celebrationPhase' | translate}}
                                           </div>
                                       </div>
                                   </div>
                                 
                                   <div class="col-md-6 text-md-right poste">
                                       {{election.nbParticipant}} {{'myElections.participants' | translate}}
                                   </div>
                               </div>
                           </div>
                       </div>
                   </ng-template>
               </div>
           </div>
       </div>
   </div>
 </div>