.container{
    font-size: 18px;
}

nav {
   /* border-bottom: solid #430640;*/
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.dropdown-menu {
    border-top: solid;
    border-top-width: 5px;
    border-top-color: #430640 !important;
    border-color: #430640 !important;
    border-style: ridge;
    margin-top: 0;
}

#titre {
    color: #430640;
    font-weight: 800;
    font-size: 38px;
}

.elections {
    height: 700px;
    overflow: auto;
    margin-top: 10px;
}

.color-btn {
    background-color: #f8d9cd;
    border-radius: 3px;
    border-color: #f8d9cd;
}

.elections::-webkit-scrollbar {
    width: 6px;
}

.elections::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(56, 56, 56, 0.363);
}

.election {
    margin-top: 25px;
    border-radius: 4px;
    border-color: #ffc9b4;
    border-style: solid;
    background-color: #fdcfbd;
}



.poste {
    text-align:center;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.phase {
  font-weight: 500;
  font-size: 20px;
  width: 60%;
  display: inline-block;
}

.dateD {
  width: 20%;
  display: inline-block;
}

.participants {
  width: 20%;
  display: inline-block;
}

.separator {
    border-bottom-style: solid;
    border-bottom-color: #FFC9B4;
    border-width: 1px;
}

.color-border {
    border-color: #430640;
}

a:hover {
    border-top: solid #430640 !important;
    border-left: solid #430640 !important;
    border-right: solid #430640 !important;
}
