<div class="container">
    <h2 id="titre" class="text-center my-5">
        Mes élections
    </h2>
   <div class="row" id="navBlock">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md justify-content-center">
                <ul class="navbar-nav color-border">
                    <li class="nav-item bouton" id="ongletMesElections">
                        <a id="btn" class="nav-link" style="cursor: pointer;" (click)="MesElections()">
                            Elections en cours
                        </a>
                    </li>
                    <li class="nav-item bouton" id="ongletElectionsTermines">
                        <a id="btn" class="nav-link" style="cursor: pointer;" (click)="ElectionsTermines()">
                            Elections terminées
                        </a>
                    </li>
                </ul>
                <div class="navbar-collapse justify-content-md-end justify-content-center">
                    <ul class="navbar-nav justify-content-md-end text-center">
                        <li class="nav-item align-text-bottom mb-1 bouton" id="ongletAjouterElections">
                            <div class="nav-link dropdown-toggle align-text-bottom" data-toggle="dropdown" style="cursor: pointer; background-color: #fee2d7;">Rejoindre une élection</div>
                            <div class="dropdown-menu dropdown-menu-right align-text-bottom color-border " style="min-width: 250px;" aria-labelledby="navbarDropdownMenuLink">
                                <form>
                                    <div class="form-group mr-3 ml-4">
                                        <label for="codeInput">Lien d'invitation ou code</label>
                                        <input #codeInput id="codeInput" type="text" class="form-control color-border">
                                    </div>
                                    <div class="btn-group">
                                        <button (click)="rajouterElections(codeInput.value)" type="submit" class="btn color-btn ml-4"> Rejoindre </button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
   </div>    
   <div class="elections">
       <div class="container">
           <div class="row">
               <div class="col-md-6 my-5 d-flex align-self-stretch">
                   <div class="card text-center" style="width:100%;">
                       <div class="card-header sous-titre">
                           <div class="row">
                               <div class="col-md-12 text-center">
                                   Créer une nouvelle élection
                               </div>
                           </div>
                       </div>
                       <div class="card-body" style="border-bottom: solid #430640;">
                           <div class="row align-items-center" style="height: 100%!important;">
                               <div class="col-md-12 text-center">
                                   <svg class="bi bi-plus-circle" style="color: #430640; cursor: pointer;" (click)="CreateElection()" width="8em" height="8em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                       <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd" />
                                       <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd" />
                                       <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd" />
                                   </svg>
                                   <br />
                                   <br />
                                   <label class="poste" style="font-size:30px;"> Ajouter une élection</label>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-md-6 my-5 d-flex align-self-stretch" *ngFor="let election of listeElections" (click)="Navigate((election.electionId))" style="cursor: pointer;">
                   <div class="center-block align-self-center" *ngIf="election['electionPhaseId'] == '5'; then ThenBlock else ElseBlock"></div>
                   <ng-template #ThenBlock>
                       <div class="card text-center">
                           <div class="card-header sous-titre">
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       {{election.job}}
                                       <div *ngIf="election.hostId == connectedAccount.userId; then ThenBlock"></div>
                                       <ng-template #ThenBlock>
                                           <span class="badge badge-pill badge-primary">Hôte</span>
                                       </ng-template>
                                   </div>
                               </div>
                           </div>
                           <div class="card-body">
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Mission :
                                       </label>
                                       {{election.mission}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Responsabilités :
                                       </label>
                                       {{election.responsability}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Code élection :
                                       </label>
                                       {{election.codeElection}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Lien de votre élection :
                                       </label>
                                       <a href="http://51.158.77.237/join-election-link/{{election.codeElection}}"> http://51.158.77.237/join-election-link/{{election.codeElection}}</a>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Début du mandat le :
                                       </label>
                                       {{election.startDate |  date:'shortDate' : locale:'fr-FR'}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Fin du mandat le :
                                       </label>
                                       {{election.endDate |  date:'shortDate' : locale:'fr-FR'}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <qrcode class="col-md-30 text-md-center" id="qrCode" [qrdata]="getLink(election)" [colorDark]="'#430640'" [width]="128" [errorCorrectionLevel]="'M'"></qrcode>
                                   </div>
                               </div>
                           </div>
                           <div class="card-footer text-muted">
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <div *ngIf="election.electedId == null; then ThenBlock3 else ElseBlock3"></div>
                                       <ng-template #ThenBlock3>
                                           <label class="poste" style="cursor: pointer;">
                                               Aucune personne élue
                                           </label>
                                       </ng-template>
                                       <ng-template #ElseBlock3>
                                           <label class="poste" style="cursor: pointer;">
                                               Personne élue :
                                           </label>
                                           <label id="election{{election.electionId}}" class="poste" style="cursor: pointer;"></label>
                                        </ng-template>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </ng-template>
                   <ng-template #ElseBlock>
                       <div class="card text-center">
                           <div class="card-header sous-titre">
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       {{election.job}}
                                       <div *ngIf="election.hostId == connectedAccount.userId; then ThenBlock"></div>
                                       <ng-template #ThenBlock>
                                           <span class="badge badge-pill badge-primary">Hôte</span>
                                       </ng-template>
                                   </div>
                               </div>
                           </div>
                           <div class="card-body">
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Mission :
                                       </label>
                                       {{election.mission}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Responsabilités :
                                       </label>
                                       {{election.responsability}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Code élection :
                                       </label>
                                       {{election.codeElection}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Lien de votre élection :
                                       </label>
                                       <a href="http://51.158.77.237/join-election-link/{{election.codeElection}}"> http://51.158.77.237/join-election-link/{{election.codeElection}}</a>
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Début du mandat le :
                                       </label>
                                       {{election.startDate |  date:'shortDate' : locale:'fr-FR'}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <label class="poste" style="cursor: pointer;">
                                           Fin du mandat le :
                                       </label>
                                       {{election.endDate |  date:'shortDate' : locale:'fr-FR'}}
                                   </div>
                               </div>
                               <div class="row">
                                   <div class="col-md-12 text-center">
                                       <qrcode class="col-md-30 text-md-center" id="qrCode" [qrdata]="getLink(election)" [colorDark]="'#430640'" [width]="128" [errorCorrectionLevel]="'M'"></qrcode>
                                   </div>
                               </div>
                           </div>
                           <div class="card-footer text-muted">
                               <div class="row">
                                   <div class="col-md-6 text-md-left poste">
                                       <div class="phase" [ngSwitch]="election['electionPhaseId']">
                                           <div *ngSwitchCase=1>
                                               Phase de votes
                                           </div>

                                           <div *ngSwitchCase=2>
                                               Phase de report des votes
                                           </div>

                                           <div *ngSwitchCase=3>
                                               Phase d'objections
                                           </div>

                                           <div *ngSwitchCase=4>
                                               Phase de bonifications
                                           </div>

                                           <div *ngSwitchCase=5>
                                               Phase de célébration
                                           </div>
                                       </div>
                                   </div>
                                   <div class="col-md-6 text-md-right poste">
                                       {{election.nbParticipant}} participants
                                   </div>
                               </div>
                           </div>
                       </div>
                   </ng-template>
               </div>
           </div>
       </div>
   </div>
 </div>