.container{

}

.dropdown-menu {
    border-top: solid;
    border-top-width: 5px;
    border-top-color: #430640;
    border-color: #430640;
    border-style: ridge;
    margin-top: 0;
}

#titre {
    color: #430640;
    font-weight: 800;
    font-size: 38px;
}

.elections {
  height: 700px;
  overflow: auto;
  margin-top: 10px;
}

.color-btn {
    background-color: #f8d9cd;
    border-radius: 3px;
    border-color: #f8d9cd;
}

.elections::-webkit-scrollbar {
    width: 6px;
}

.elections::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(56, 56, 56, 0.363);
}

.election {
    margin-top: 25px;
    border-radius: 4px;
    border-color: #ffc9b4;
    border-style: solid;
    background-color: #fdcfbd;
}



.poste {
    text-align:center;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.phase {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  width: 60%;
  display: inline-block;
}

.dateD {
  text-align: left;
  width: 20%;
  display: inline-block;
}

.participants {
  text-align: right;
  width: 20%;
  display: inline-block;
}

.separator {
    border-bottom-style: solid;
    border-bottom-color: #ffc9b4;
    border-width: 1px;
}

.color-border {
    border-color: #430640;
}

.nav-link:hover {
    border-color: #430640;
}
