<h2 id="titre" style="text-indent: 5px;">
    <label style="font-size: 24px; font-weight: 400; color:gray;">
        Votes /
    </label>
    <label style="font-size: 24px; font-weight: 400; color:gray;">
        Report de votes /
    </label>
    <label style="font-size: 24px; font-weight: 400; color:gray;">
        Objections
    </label>
    <label style="font-size: 24px; font-weight: 400; color:gray;">
        / Bonification /
    </label>
    <label>
        Célébration
    </label>
</h2>


<div *ngIf="actualElected != null; then ThenBlock else ElseBlock;"></div>

<ng-template #ElseBlock>
    <div class="container-fluid align-middle text-center">
        <div class="row mt-5">
            <div class="col-sm-2 align-self-center">
                <p class="intro">
                    Malheureusement, l'élection pour le poste de {{election.poste}} s'est terminée sans candidat élu...
                </p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #ThenBlock>
    <div class="container-fluid align-middle text-center">
        <div class="row mt-5">
            <div class="col-sm-5 align-self-center">
                <img class="img-fluid" src="assets/img/celebration.gif" width="1000px">
            </div>
            <div class="col-sm-2 align-self-center">

                <p class="intro">
                    Félicitation à {{actualElected.firstName}} {{actualElected.lastName}} pour avoir été élu(e) au poste de {{election.poste}} !!!
                </p>
                <div class="profile-userpic">

                    <img class="img-fluid" id="proposedIcon" src="data:image/png;base64,{{actualElected.avatar}}" width="200px" />
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{actualElected.firstName}} {{actualElected.lastName}}
                    </div>
                </div>
            </div>
            <div class="col-sm-5 align-self-center">
                <img class="img-fluid" src="assets/img/celebration.gif" width="1000px">
            </div>
        </div>
    </div>
</ng-template>