<div class="container-fluid">
    <div class="row my-3 justify-content-center">
        <div class="col-11 px-0 text-center">
            <div class="card px-0" id="card">
                <ul id="progressbar">
                    <li class="active" id="votes">Votes</li>
                    <li class="active" id="repportVotes">Repport de Votes</li>
                    <li class="active" id="objections">Objections</li>
                    <li class="active" id="bonification">Bonification</li>
                    <li class="active title" id="celebration">Célébration</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-md-4 mb-5 mb-md-0 text-center">
            <img class="img-fluid" src="assets/img/celebration2.gif" width="400px">
        </div>
        <div class="col-md-4 text-center">
            <label class="intro">
                Félicitation à {{actualElected.FirstName}} {{actualElected.LastName}} pour avoir été élu(e) au poste de {{election.poste}} !!!
            </label>
            <div class="profile-userpic">
                <img class="img-fluid" src="data:image/png;base64,{{actualElected.Avatar}}" width="200px" />
            </div>
            <div class="profile-usertitle-name">
                {{actualElected.FirstName}} {{actualElected.LastName}}
            </div>
        </div>
        <div class="col-md-4 mt-5 mt-md-0 text-center">
            <img class="img-fluid" src="assets/img/celebration2.gif" width="400px">
        </div>
        <div *ngIf="election.HostId == connectedAccount.UserId; then ThenBlock2 else ElseBlock2"></div>
        <ng-template #ElseBlock2>

        </ng-template>
        <ng-template #ThenBlock2>
            <div class="row text-center mt-5">
                <button id="send" type="button" class="btn mb-xl-5" (click)="sendAll()">Envoyer un récapitulatif par mail à tous les participants</button>
            </div>
        </ng-template>


    </div>

</div>

<!--<div class="container-fluid align-middle text-center">
    <div class="row mt-5">
        <div class="col-sm-5 align-self-center">
            <img class="img-fluid" src="assets/img/celebration.gif" width="1000px">
        </div>
        <div id="infos" class="col-sm-2 align-self-center">

            <p class="intro">
                Félicitation à {{actualElected.FirstName}} {{actualElected.LastName}} pour avoir été élu(e) au poste de {{election.poste}} !!!
            </p>
            <div class="profile-userpic">

                <img class="img-fluid" id="proposedIcon" src="data:image/png;base64,{{actualElected.Avatar}}" width="200px" />
            </div>
            <div class="profile-usertitle">
                <div class="profile-usertitle-name">
                    {{actualElected.FirstName}} {{actualElected.LastName}}
                </div>
            </div> <br /><br />
            <div *ngIf="election.HostId == connectedAccount.UserId; then ThenBlock2 else ElseBlock2"></div>
            <ng-template #ElseBlock2>

            </ng-template>
            <ng-template #ThenBlock2>
                <div class="row text-center mt-5">
                    <button id="send" type="button" class="btn mb-xl-5" (click)="sendAll()">Envoyer un récapitulatif par mail à tous les participants</button>
                </div>
            </ng-template>

        </div>
        <div class="col-sm-5 align-self-center">
            <img class="img-fluid" src="assets/img/celebration.gif" width="1000px">
        </div>
    </div>
</div>-->
