nav {
    font-size: 20px;
    position: relative;
}

#drapeau {
    min-width: 0rem !important;
    font-size: 1.4rem !important;
    width: 95px;
}


#langBtnFr {
    background-image: url("../../assets/img/fr_flag.png");
}

#langBtnEn {
    background-image: url("../../assets/img/en_flag.png");
}

#langBtnEs {
    background-image: url("../../assets/img/es_flag.png");
}



.centerNav {
    margin-top: auto;
    margin-bottom: auto;
}

.langsBtn {
    height: 1em;
    width: 1.5em;
    margin-left: 5px;
    margin-bottom: auto;
    margin-top: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.langsBtn:hover {
    -webkit-transform: scale(1.1);
}

#liChat {
    width: 5vw;
    height: 5vh;
}

#chat {
    position: absolute;
    z-index: 999;
}




.imgTaille {
    vertical-align: top !important;
}

#logsMenu {
    /*font-size: 16px;*/
}





.dropdown-menu {
    border-top: solid;
    border-top-width: 5px;
    border-top-color: #430640;
    border-color: #430640;
    border-style: ridge;
    margin-top: 0;
}

.color-btn {
    background-color: #f8d9cd;
    border-radius: 3px;
    border-color: #f8d9cd;
}

.navbar-nav {
    position: relative;
}
