<nav class="navbar navbar-expand-sm align-items-end navbar-dark" style="background-color:white;">
    <div class="container" style="margin:0px; max-width:1920px;">
        <div class="mx-auto order-0">
            <a class="navbar-brand" href="">
                <img src="assets/img/brand.png" height="100" />
            </a>
        </div>

        <div class="navbar-collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">

                <li class="btn-group justify-content-start" dropdown is-open="status.isopen" style="margin-right:35px; margin-left:35px;">
                    <a id="menu" class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                        Navigation
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" role="menu" style="min-width: 250px;">
                        <a class="dropdown-item" [routerLink]="['home']" style="cursor:pointer">
                            Accueil
                        </a>
                        <a class="dropdown-item" [routerLink]="['mes-salons']">
                            Accéder à mes salons
                        </a>
                        <a class="dropdown-item" [routerLink]="['creationSession']">
                            Créer un nouveau salon
                        </a>
                    </div>
                </li>

                <li class="btn-group justify-content-start" dropdown is-open="status.isopen">
                    <a id="menuSession" class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                        Nom de la session
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" role="menu" style="min-width: 200px;">
                        <a class="dropdown-item" [routerLink]="['']">Chat de la session</a>
                        <a class="dropdown-item" [routerLink]="['logs']">Historique de la session</a>
                    </div>
                </li>

            </ul>
        </div>

        <div class="navbar-collapse w-100 order-3 dual-collapse2 justify-content-end">
            <div class="btn-group justify-content-end">
                <label id="menuCompte" class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
                    Mon compte
                </label>
                <div class="dropdown-menu dropdown-menu-right" style="min-width: 250px;">

                    <div *ngIf="connected; then thenBlock else elseBlock"></div>
                    <ng-template #elseBlock>
                        <form>
                            <div class="form-group mr-3 ml-4">
                                <label for="emailInput">Email</label>
                                <input #emailInput type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" width="250">
                            </div>
                            <div class="form-group mr-3 ml-4">
                                <label for="passwordInput">Mot de passe</label>
                                <input #passwordInput type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <button type="submit" class="btn color-btn ml-4" (click)="connect(emailInput.value, passwordInput.value)">Se connecter</button>
                            <div class="form-group mr-3 ml-4">{{erreur}}</div>
                        </form>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="https://localhost:44318/">Créer un compte</a>
                    </ng-template>

                    <ng-template #thenBlock>
                        <a class="dropdown-item" [routerLink]="['']">Mon Compte</a>
                        <a class="dropdown-item" [routerLink]="['']" (click)="disconnect()">Se déconnecter</a>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send message</button>
            </div>
        </div>
    </div>
</div>
