<nav class="navbar navbar-expand-md navbar-light bg-light px-5">
    <a class="navbar-brand" href="#">
        <img src="assets/img/brand.png" height="100" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <div *ngIf="connected; then navThenBlock else navElseBlock"></div>
            <ng-template #navElseBlock>
            </ng-template>
            <ng-template #navThenBlock>
                <li class="nav-item" style="inline-size: max-content;">
                    <a class="nav-link" [routerLink]="['my-elections']"> Mes elections <!--{{'navbar.accedElec' | translate}}--></a>
                </li>
            </ng-template>


            <li class="nav-item" [hidden]="!inElection">
                <a class="nav-link" style="cursor:pointer" (click)="goToLogs()">
                    Historique
                </a>
            </li>

            <li id="liChat">
                <app-chat id="chat" [hidden]="!inElection"></app-chat>
            </li>
        </ul>

       

        <div class="navbar-collapse justify-content-end">
            <ul class="navbar-nav d-flex justify-content-end" [ngSwitch]="currentLang">
                <div *ngIf="connected; then accountThenBlock else accountElseBlock"></div>
                <ng-template #accountElseBlock>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{'navbar.monCompte' | translate}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" style="min-width: 250px;" aria-labelledby="navbarDropdownMenuLink">
                            <form>
                                <div class="form-group mr-3 ml-4">
                                    <label for="emailInput">{{'navbar.mail' | translate}}</label>
                                    <input #emailInput type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" width="250">
                                </div>
                                <div class="form-group mr-3 ml-4">
                                    <label for="passwordInput">{{'navbar.mdp' | translate}}</label>
                                    <input #passwordInput type="password" class="form-control" id="exampleInputPassword1">
                                </div>
                                <button type="submit" class="btn color-btn ml-4" (click)="connect(emailInput.value, passwordInput.value)">{{'navbar.seConnecter' | translate}}</button>
                                <div class="form-group mr-3 ml-4">{{erreur}}</div>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item btn-create" [routerLink]="['create-account']">{{'navbar.creerCompte' | translate}}</a>
                            <a class="dropdown-item btn-create" [routerLink]="['forgotten-password']">{{'navbar.mdpOubli' | translate}}</a>
                        </div>
                    </li>
                </ng-template>

                <ng-template #accountThenBlock>

                    <li class="nav-item dropdown ">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{connectedAccount.firstName}}
                            <img class="img-responsive imgTaille" id="{{connectedAccount.userId}}" src="data:image/png;base64,{{connectedAccount.avatar}}" height="30" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" [routerLink]="['my-account']">{{'navbar.monCompte' | translate}}</a>
                            <a class="dropdown-item" [routerLink]="['']" (click)="disconnect()">{{'navbar.deconnecter' | translate}}</a>
                        </div>
                    </li>
                </ng-template>
                <li class="nav-item dropdown" *ngSwitchCase="'fr'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <button class="hoverable langsBtn" (click)="setFr()" id="langBtnFr"></button>
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink" id="drapeau">
                        <a class="dropdown-item">
                            <button class="hoverable langsBtn" (click)="setEn()" id="langBtnEn"></button>
                        </a>
                        <a class="dropdown-item">
                            <button class="hoverable langsBtn" (click)="setEs()" id="langBtnEs"></button>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngSwitchCase="'en'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <button class="hoverable langsBtn" (click)="setEn()" id="langBtnEn"></button>
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink" id="drapeau">
                        <a class="dropdown-item">
                            <button class="hoverable langsBtn" (click)="setFr()" id="langBtnFr"></button>
                        </a>
                        <a class="dropdown-item">
                            <button class="hoverable langsBtn" (click)="setEs()" id="langBtnEs"></button>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngSwitchCase="'es'">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <button class="hoverable langsBtn" (click)="setEs()" id="langBtnEs"></button>
                    </a>
                    <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink" id="drapeau">
                        <a class="dropdown-item">
                            <button class="hoverable langsBtn" (click)="setFr()" id="langBtnFr"></button>
                        </a>
                        <a class="dropdown-item">
                            <button class="hoverable langsBtn" (click)="setEn()" id="langBtnEn"></button>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
