<div class="container">
    <h2 id="titre" class="text-center my-5">Rappel de votre élection</h2>


    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label>Poste de l'élu</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p> {{poste}}</p>
        </div>
    </div>

    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label>Ses missions</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p>{{missions}}</p>
        </div>
    </div>

    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label>Ses responsabilités</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p>{{responsabilite}}</p>
        </div>
    </div>

    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label>Date de début de mandat</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p> {{dateD |  date:'shortDate'}}</p>
        </div>
    </div>

    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label> Date de fin de mandat</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p> {{dateF |  date:'shortDate'}}</p>
        </div>
    </div>

    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label id="label_code">Code de votre élection</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p id="code">{{codeElection}}</p>
        </div>
    </div>

    <div class="row text-center mb-md-1 mb-5">
        <div class="col-md-4 text-md-right">
            <label id="label_code">Lien de votre élection</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p id="code">
                <a href="http://51.158.77.237/join-election-link/{{codeElection}}">http://51.158.77.237/join-election-link/{{codeElection}}</a>
            </p>
        </div>
    </div>

    <div class="row text-center my-5">
        <div class="col-md d-flex justify-content-center">
            <button (click)="navigate()" id="valider" type="submit" class="btn mb-5">Valider</button>
        </div>
    </div>
</div>

        <!--<div class="row mt-5">
        <div class="col-md-5 text-center">
            <label>Date de début de mandat</label>
        </div>
        <div class="offset-2 col-md-5 text-center">
            <label> Date de fin de mandat</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 text-center">
            <p> {{dateD |  date:'shortDate' : locale:'fr-FR'}}</p>
        </div>
        <div class="offset-2 col-md-5 text-center">
            <p> {{dateF |  date:'shortDate' : locale:'fr-FR'}}</p>
        </div>
    </div>-->




        <!--<div class="form-row">
            <div class="form-group col-md-6">
            <label> Date de début de mandat</label>
            <p> {{dateD |  date:'shortDate' : locale:'fr-FR'}}</p>
        </div>
        <div class="form-group col-md-6">
            <label> Date de fin de mandat</label>
            <p> {{dateF |  date:'shortDate' : locale:'fr-FR'}}</p>
        </div>
            <div class="form-group">
                <label id="label_code">Code de votre élection</label>
                <p id="code">{{codeElection}}</p>
            </div>
            <div class="form-group">

            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button id="valider" type="submit" class="btn mb-5">Valider</button>
        </div>
    </div>-->




    <!--<div id="page_rappel">
      <h2 class="titre"> Rappel de votre élection </h2>
      <div id="rappel">
          <div class="zone d-flex ">
              <label>Poste de l'élu: </label><p> {{poste}}</p><label></label>
              <br />
          </div>
          <div class="zone d-flex ">
              <label>Missions: </label> <p>{{missions}}</p><label></label>
              <br />
          </div>
          <div class="zone d-flex ">
              <label>Responsabilité: </label> <p>{{responsabilite}}</p><label></label>
              <br />
          </div>
          <div class="zone d-flex ">
              <label>Date de début: </label><p> {{dateD |  date:'shortDate' : locale:'fr-FR'}}</p><label></label>
              <br />
          </div>
          <div class="zone d-flex ">
              <label>Date de fin: </label><p> {{dateF |  date:'shortDate' : locale:'fr-FR'}}</p><label></label>
              <br />
          </div>
          <div class="zone d-flex ">
              <label id="label_code">Code de votre élection</label> <p id="code">{{codeElection}}</p><label></label>
              <br />
          </div>
          <div class="zone d-flex ">
              <label id="label_code">Code de votre élection</label> <p id="code"><a href="https://localhost:44329/join-election-link/{{codeElection}}">https://localhost:44329/join-election-link/{{codeElection}}</a></p><label></label>
              <br />
          </div>

          <div class=" d-flex justify-content-center">
              <button id="valider" type="submit">Valider</button>
          </div>
      </div>
    </div>-->
