<div class="container">
    <h2 id="titre" class="text-center my-5">Rappel de votre élection</h2>


    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label>Poste de l'élu</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p> {{poste}}</p>
        </div>
    </div>

    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label>Ses missions</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p>{{missions}}</p>
        </div>
    </div>

    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label>Ses responsabilités</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p>{{responsabilite}}</p>
        </div>
    </div>

    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label>Date de début de mandat</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p> {{dateD |  date:'shortDate'}}</p>
        </div>
    </div>

    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label> Date de fin de mandat</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p> {{dateF |  date:'shortDate'}}</p>
        </div>
    </div>

    <div class="row text-center  mb-md-1  mb-5">
        <div class="col-md-4 text-md-right">
            <label id="label_code">Code de votre élection</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p id="code">{{codeElection}}</p>
        </div>
    </div>

    <div class="row text-center mb-md-1 mb-5">
        <div class="col-md-4 text-md-right">
            <label id="label_code">Lien de votre élection</label>
        </div>
        <div class="offset-md-1 col-md-7 text-md-left">
            <p id="code">
                <a href="http://51.158.77.237/join-election-link/{{codeElection}}">http://51.158.77.237/join-election-link/{{codeElection}}</a>
            </p>
        </div>
    </div>
    <br/>
    <div class="form-group">
        <div class="col-md-30 text-md-center">
            <label id="label_code">Vos invités peuvent scanner ce qr code :</label>
            <qrcode id="qrcode" class="col-md-30 text-md-center" id="qrCode" [elementType]="'img'" [qrdata]="qrdata" [colorLight]="'#fee2d7'" [colorDark]="'#430640'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>


    <form id="mailForm" #mailForm="ngForm">
        <div class="form-group">
            <div class="col-md-30 text-md-center">
                <label id="label_code">Envoyer des invitations</label>
            </div>
            <div class="input-group-prepend">
                <input id="mailInput" type="text" #dest class="form-control" placeholder="Ajouter destinataire" name="dest" ngModel>
                <button id="ajouter" type="button" class="btn mb-5" (click)="addDest(dest)">Ajouter</button>
            </div>
        </div>
        <div class="data">
            <ul class="list-unstyled">
                <li *ngFor="let dest of mailList" id="{{dest.split('@')[0].split('.').join('')}}">{{dest}} <i (click)="deleteItem(dest)" class="material-icons">X</i></li>
            </ul>
        </div>
        <button id="send" type="button" class="btn mb-5" (click)="sendAll()">Envoyer</button>
    </form>

    <div class="row text-center my-5">
        <div class="col-md d-flex justify-content-center">
            <button id="valider" type="submit" class="btn mb-5" (click)="navigate()">Valider</button>
        </div>
    </div>

</div>
